In [1]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('finance.db')


try:
    df = pd.read_csv(r'C:\Users\Muskan\OneDrive\Documents\financial_dataset.csv')
    
    #  Clean column names (Remove spaces)
    df.columns = df.columns.str.strip().str.replace(' ', '_')

    df.to_sql('cash_ledger', conn, if_exists='replace', index=False)
    
    print("Success! Your SQLite database now has real Kaggle data.")
    
except FileNotFoundError:
    print(" Error: I couldn't find the CSV file. Make sure it's in the same folder!")

conn.close()

Success! Your SQLite database now has real Kaggle data.

In [2]:
df

,Year,Quarter,Company_ID,Revenue,Expenses,Operating_Income,Net_Income,Assets,Liabilities,Equity,...,Global_Economic_Score,Inflation_Rate,Exchange_Rate,Interest_Rate,Audit_Flag,Fraud_Flag,Market_Shock_Flag,Policy_Change_Flag,Target_Revenue_Next_Qtr,Target_Anomaly_Class
0,2015,1,CMP_001,229991.306092,212058.655451,17932.650641,10592.371034,5.317374e+05,1.718753e+05,359862.074312,...,0.212339,2.272775,64.585113,4.433938,0,0,0,0,232953.170340,0
1,2015,2,CMP_001,214801.521695,190523.228662,24278.293033,7500.653613,5.153835e+05,2.606262e+05,254757.276025,...,0.965632,6.658781,67.615344,2.781377,0,0,0,0,202861.816435,0
2,2015,3,CMP_001,231901.988387,185517.519016,46384.469371,36708.803229,7.050136e+05,3.656793e+05,339334.243843,...,0.921874,1.619448,64.899572,2.361818,0,0,0,0,226367.154899,0
3,2015,4,CMP_001,213291.559343,186390.895616,26900.663727,9867.709016,4.583852e+05,3.184653e+05,139919.882921,...,0.771270,1.518313,68.961643,2.926952,0,0,0,0,220837.207964,0
4,2016,1,CMP_001,210824.823381,185755.829807,25068.993574,9124.900899,6.904755e+05,4.521821e+05,238293.395315,...,0.040434,5.974640,62.772271,5.514692,0,0,0,0,210554.564289,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,4,CMP_050,483135.399645,428696.468138,54438.931508,45748.936485,1.069535e+06,4.114049e+05,658129.955270,...,0.460017,4.834329,67.802209,3.333369,0,0,0,0,510299.017813,0
1996,2024,1,CMP_050,464427.654055,422739.016137,41688.637918,36237.892374,9.993325e+05,3.791862e+05,620146.353589,...,0.178820,5.972716,84.231010,4.184200,0,0,0,0,479676.948218,0
1997,2024,2,CMP_050,488944.643292,386286.115602,102658.527690,83383.322347,1.592059e+06,8.088810e+05,783177.979529,...,0.797452,6.110632,72.102651,2.705578,0,0,0,0,508704.094930,0
1998,2024,3,CMP_050,483220.283642,441663.081493,41557.202149,21932.943343,1.157920e+06,7.110955e+05,446824.386100,...,0.228661,3.649777,75.649097,6.503311,0,0,0,0,495272.360348,0
1999,2024,4,CMP_050,473669.766397,377460.874966,96208.891431,77385.298918,1.827014e+06,1.121965e+06,705048.541950,...,0.143077,6.267522,81.132413,5.903620,1,0,0,0,523157.776415,1

In [3]:
df.columns

Index(['Year', 'Quarter', 'Company_ID', 'Revenue', 'Expenses',
       'Operating_Income', 'Net_Income', 'Assets', 'Liabilities', 'Equity',
       'Cash_Flow', 'EPS', 'ROE', 'ROA', 'Debt_to_Equity', 'Stock_Price',
       'Volume_Traded', 'News_Sentiment_Score', 'Social_Media_Buzz',
       'Sector_Trend_Index', 'Global_Economic_Score', 'Inflation_Rate',
       'Exchange_Rate', 'Interest_Rate', 'Audit_Flag', 'Fraud_Flag',
       'Market_Shock_Flag', 'Policy_Change_Flag', 'Target_Revenue_Next_Qtr',
       'Target_Anomaly_Class'],
      dtype='object')

In [6]:

import os

db_file = 'finance.db'
if os.path.exists(db_file):
    print(f"File Found! Location: {os.getcwd()}\{db_file}")
    
    
    conn = sqlite3.connect(db_file)
    df_check = pd.read_sql_query("SELECT COUNT(*) as total_rows FROM cash_ledger", conn)
    print(f" Rows in Database: {df_check['total_rows'][0]}")
    conn.close()
else:
    print(" File NOT found. Check your file path!")

File Found! Location: C:\Users\Muskan\finance.db
 Rows in Database: 2000